* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

#output {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.75rem;
    height: 70px;
}

#navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

#navbar ul li a {
    padding: 1rem;
}

#navbar ul li a:hover {
    opacity: 0.4;
    border-radius: 4px;
}

div {
    text-align: center;
    display: block;
    margin: auto;
    width: 60%;
    padding: 12px;
}

h2 {
    padding: 10px;
}

textarea {
    resize: none;
}

.def-button {
    height: 3rem;
    width: 7rem;
    text-align: center;
    border-radius: 5px;
}

.bigger-button {
    height: 5rem;
    width: 12rem;
    text-align: center;
    border-radius: 5px;
}

button:hover {
    background-color: powderblue;
}

button:active {
    background-color: red;
}

.text-align-center {
    text-align: center;
}

.smaller-font {
    font-size: small;
}